* {
    font-size: 16px;
    font-family: 'Playfair Display', 'Times New Roman', serif;
}

body {
    padding:0 12rem;
    background-color: #f0e6de;
}

h1 {
    font-family: 'Noto Sans Thai', 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    font-family: 'Abhaya Libre', 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

.banner {
    text-align: center;
}

.sub-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px rgb(38, 38, 38) solid;
}

.sub-banner p {
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
}

.sub-banner a {
    font-size: 1.5rem;
    margin-left: 1.25rem;
    color: black;
}

li {
    display: inline;
}

#about-me {
    padding: 0 1.5rem;
    margin-top: 5rem;
}

.about-me-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.about-me-text {
    margin: auto 0;
}

#selfie {
   height: 22rem;
   width: 20rem;
   float: right;
   margin-right: 2rem;
}

#projects {
    padding: 0 1.5rem;
    margin-top: 7rem;
}

.whole-card-container{
    display: flex;
}

.whole-card {
    position: absolute;
    top: 35rem;
    left: 20rem;
    width: 55%;
    background-color: rgb(243, 237, 237);
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

#whole-card-one {
    display: none;
}

#whole-card-two {
    display: none;
}

#whole-card-three {
    display: none;
}

.whole-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.whole-card h3 {
    text-align: center;
    margin-top: 1rem;
}

.whole-card .chip-container {
    margin-bottom: 2rem;
}

.whole-card p {
    padding-left: 1rem;
}

.card-container {
    display: flex;
    justify-content: start;
    gap: 3rem;
    flex-wrap: wrap;
}

.card {
    cursor: pointer;
    background-color: rgb(243, 237, 237);
    border-radius: 10px;
    border: 2px solid black;
}

.card h3 {
    text-align: center;
}

.card img {
    width:14rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card p {
    margin-left: 0.5rem;
}

.chip-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.chip {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 700;
    background-color: rgb(212, 67, 67);
    padding: 0.25rem .8rem;
    border-radius: 15px;
}

#skills {
    padding: 0 1.5rem;
    margin-top: 6.5rem;
}

.icons-container {
    display: flex;
    gap: 4rem;
}

.icons-container img{
    height: 3rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

.scrolltop {
    transition: opacity 0.15s;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background-color: rgb(196, 190, 190);
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    border: 0;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}

.scrolltop img {
    width: 100%;
}

.scrolltop.visible {
    opacity: 1;
    pointer-events: all;
}

#contact {
    margin-top: 3rem;
}

.contact-ways {
    margin-top: 3rem;
    margin-left: 2rem;
}